#modal_container {
  z-index: 1011;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.50);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  animation: pop-up 500ms forwards;

  h2 {
    color: #073569;    
  }
}

#modal {
  z-index: 2000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);    
  width: 70vw;
  height: auto;

  padding: 1rem;
}

.modal_header { 
  position: relative;
}

.modal_title {
  margin-bottom: 1rem;
}

.modal_header .modal_close_icon {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 1rem;
}

.cross_icon {
  transition: all 200ms linear;
}

.cross_icon:hover {
  color: #93c5fd;
  stroke-width: 2;
}

.contact_container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;

}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
}

#form_inputs {
  flex-grow: 1;
}

.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .25rem;
}

.form_control label {
  font-weight: bold;
  color: rgb(107, 107, 107);
}

.form_control input,
.form_control textarea {
  font-weight: 400;
  letter-spacing: 0.01em;
  border: none;
  outline: none; 
  padding: .25em;
  
  box-shadow: 0 0 0 1px rgb(230, 230, 230);
}

.form_control input {
  font-size: 1rem;
}

.form_control input:hover,
.form_control textarea:hover {
  box-shadow: 0 0 0 1px #93C5Fd;
}

.form_control input:focus,
.form_control textarea:focus {
  box-shadow: 0 0 0 2px #93c5fd;
}

.form_control textarea {
  resize: none;  
  height: 250px;
}

button {
  width: fit-content;
}

#form_sider {
  height: 24rem;
}

@media (max-width: 768px) {
  .contact_container {
    display: block;
  }

  form {    
    gap: .5rem;
  }

  #form_sider {
    display: none;
  }

  .form_inputs {
    width: 100%;
  }

  .form_control textarea {
    width: 100%;
  }
}

.contact_image {
  height: 100%;
}

@keyframes pop-up {
  from {
    opacity: 0;      
  }
  to {
    opacity: 1;      
  }
}