.breadcrumbs {
  padding: 1.5rem;
}

.breadcrumbs ul {  
  display: flex;
  gap: .25em;
}

.breadcrumbs ul li:hover a {
  color: teal;
}

h1 {
  color: teal;
}

.image_showdown {
  width: 70vw;  
  margin-inline: auto;
}

.image_showdown--main {
  width: 100%;
  height: 40vw;
  margin-bottom: 1rem; 
  position: relative;
}

.main-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
  transition: all 400ms ease-out;
}

.main-image:first-of-type {
  opacity: 1;
}

.main-image {
  opacity: 0;
}

.image_showdown--images {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);  
  gap: 1rem;
  padding-inline: 1rem;
}

.image {
  cursor: pointer;
  height: 100px;
  background: var(--background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  margin-bottom: 1rem;
}

#content-container {
  max-width: 95vw;
  margin-inline: auto;

  p {
    margin-top: 1em;
    margin-bottom: 3em;
    line-height: 1.5;
  }

  blockquote {
    padding-inline: 1rem;
    border-left: rgb(83, 83, 83) solid 10px;
  }

  ul, ol {
    color: rgb(83, 83, 83);
  }

  @media (min-width: 769px) {
    max-width: 50vw;
  }
}