<header id="header" class="container">
  <div id="header_image" class="">
    <img
      src="images/header_image.webp"
      alt="A example of my website development job"
      width="100%"
      height="100%"
    />
  </div>
  <div id="header_text">
    <h1><span class="title_highlight">Ideas</span>
      make great websites.
      <br />
      Websites make your business
      <span class="title_highlight">grow.</span></h1>
    <p>I build websites that helps you having the best online experience, retain
      more traffic and grow your business.</p>
    <button class="btn call_to_action" onclick="openContactModal()">Work with me</button>
  </div>
</header>