<style>
  #modal_container {
    z-index: 1011;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.50);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    animation: pop-up 500ms forwards;
  }
  h2 {
    color: #073569;
    margin-bottom: 1rem;
  }

  #modal {
    z-index: 2000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 5px #073569;
    border-radius: 10px;
    width: 70vw;
    height: auto;

    padding: 1rem;
  }

  .modal_header {
    position: relative;
  }

  .modal_header div {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .cross_icon {
    transition: all 200ms linear;
  }

  .cross_icon:hover {
    color: #93c5fd;
    stroke-width: 2;
  }

  .contact_container {
    width: 100%;
    display: flex;
    justify-content: space-around;

  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .25rem;
  }

  .form_control label {
    font-weight: bold;
    color: rgb(107, 107, 107);
  }

  .form_control input,
  .form_control textarea {
    border: none;
    outline: none;
    background: rgb(233, 233, 233);
    border-radius: 5px;
    padding: .25rem;

    transition: all 150ms linear;
    box-shadow: 0 0 0 1px rgb(209, 209, 209);
  }

  .form_control input {
    font-size: 1rem;
  }

  .form_control input:hover,
  .form_control textarea:hover {
    box-shadow: 0 0 0 1px #93c5fd;
  }

  .form_control input:focus,
  .form_control textarea:focus {
    box-shadow: 0 0 0 2px #93c5fd, 0 3px 20px rgba(0, 0, 0, 0.25);
  }

  .form_control textarea {
    resize: none;
    width: 35vw;
    height: 250px;
  }

  button {
    width: fit-content;
  }

  @media (max-width: 576px) {
    form {
      gap: .5rem;
    }

    #form_sider {
      display: none;
    }

    .form_control textarea {
      width: 100%;
    }
  }

  @keyframes pop-up {
    from {
      opacity: 0;      
    }
    to {
      opacity: 1;      
    }
  }
</style>

<section id="contact" class="container">
  <h2>What now?</h2>
  <p>Contact me and let me know about your products and goals. We’ll work
    together to bring life to the website of your dreams.</p>
  <button id="contact_button" class="btn contact_btn">Contact me</button>
  <ul>
    <li><a href="https://github.com/juanzenn"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
          viewBox="0 0 24 24" fill="currentColor" stroke-width="2" display="block" id="GithubFill">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z">
          </path>
        </svg></a></li>
    <li><a href="https://twitter.com/juanzenweb"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
          viewBox="0 0 24 24" fill="currentColor" stroke-width="2" display="block" id="TwitterFill">
          <path
            d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.048-2.578 9.3 9.3 0 0 1-2.958 1.13 4.66 4.66 0 0 0-7.938 4.25 13.229 13.229 0 0 1-9.602-4.868c-.4.69-.63 1.49-.63 2.342A4.66 4.66 0 0 0 3.96 9.824a4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568 4.692 4.692 0 0 1-2.104.08 4.661 4.661 0 0 0 4.352 3.234 9.348 9.348 0 0 1-5.786 1.995 9.5 9.5 0 0 1-1.112-.065 13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003z">
          </path>
        </svg></a></li>
  </ul>
</section>

<div id="modal_container">
  <div id="modal">
    <div class="modal_header">
      <h2>Contact</h2>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="cross_icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" display="block" id="Cross"><path d="M20 20L4 4m16 0L4 20"/></svg>
      </div>
    </div>

    <div class="contact_container">
      <div id="form_inputs">
        <form>
          <div class="form_control">
            <label for="name">Name:</label>
            <input type="text" name="name" />
          </div>
          <div class="form_control">
            <label for="email">Email:</label>
            <input type="email" name="email" />
          </div>
          <div class="form_control">
            <label for="message">Message:</label>
            <textarea name="message"></textarea>
          </div>
          <button class="btn">Submit</button>
        </form>
      </div>
      <div id="form_sider">Hello</div>
    </div>
  </div>

</div>

<script src="scripts/contact_form_modal.js"></script>