<head>  
  {{#section 'head'}}  
  <title>Juan Alvarez - Zen</title>
  {{/section}}
</head>

<body>    

  {{>index_header content=content.header}}

  {{>index_projects content=content.project}}

  {{>index_phrase content=content.phrase}}

  {{>index_required value=content.required.values}}

  {{>index_about content=content.about}}

  {{>index_contact content=content.contact}}    
  
  <footer>
    {{>footer}}
  </footer>

</body>