{{#section 'head'}}  
  {{!-- this comes from index.hbs --}}
  <link rel="stylesheet" href="/styles/projects.css">
  <title>Project ID - Juan Alvarez</title>
{{/section}}

<section>
  <div class="container project_header">
    <div class="project_header__image"></div>
    <div class="project_header__info">
      <h1>PCLABVE</h1>
      <div class="info_characteristics">
        <p>Characteristics</p>
        <ul>
          <li><strong>What is:</strong> A single page application for buying and building PCs</li>
          <li><strong>Stack:</strong> React - NextJS - Tailwind</li>
          <li><strong>Company:</strong> PCLabVE - They work to bring the best quality components on computers to Venezuela, offering the best services in this area.</li>
        </ul>
      </div>
      
    </div>
  </div>
</section>

<section id="project_brief">
  <h2>Brief</h2>

  <div>
    <h4>New begging</h4>
    <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eaque dolor aspernatur corporis. Quo tempore distinctio temporibus consequatur, sapiente doloremque iste quisquam molestiae laborum esse nobis, </span></p>
  </div>

  <div>
    <h4>I like this page</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil officiis enim dignissimos at, itaque maxime cum non maiores nam, impedit iste sunt vel ipsam laudantium? Corporis sapiente eaque magni cum.</p>
  <p>Sequi, nihil tempore! Atque repellat excepturi repellendus provident necessitatibus tenetur libero deserunt alias, quis odio impedit est nemo fugiat labore accusamus, corporis laboriosam illum. Hic facere cum alias officiis esse.</p>
  <p>Voluptas quasi neque numquam, minima incidunt nam quis, animi deserunt veritatis atque, facere eveniet possimus rem sint id. Praesentium exercitationem maiores illo sed quasi culpa nisi nihil tempora dolorum odio!</p>
  </div>
</section>

<section id="author"></section>

<footer>
  {{>footer}}
</footer>