html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  color: #535353;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #111827;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1010;
}

section {
  margin: 6rem 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 0.85rem;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: #f9fafb;
  font-weight: bold;
  letter-spacing: 0.03rem;
  transition: all 200ms linear;
}
.btn:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #93c5fd;
}

.navbar_items_container {
  z-index: 1010;
  position: relative;
  transition: transform 500ms ease-out;
  background: #f9fafb;
  box-shadow: 0 2px black 10px;
}
@media (max-width: 768px) {
  .navbar_items_container {
    transform: translateX(-110%);
    width: 60%;
    height: 100vh;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.15);
  }
}

.slide {
  transform: translateX(0);
}

.navbar_items {
  position: relative;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.navbar_items a {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 150ms linear;
}
.navbar_items a:hover {
  color: #f9fafb;
  background: #2563eb;
}
@media (max-width: 768px) {
  .navbar_items {
    flex-direction: column;
    gap: 2rem;
  }
}

.open_menu {
  visibility: hidden;
  display: none;
}
@media (max-width: 768px) {
  .open_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: rgba(245, 245, 245, 0.5);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }
}

.close_menu {
  visibility: hidden;
  display: none;
}
@media (max-width: 768px) {
  .close_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: transparent;
  }
}

.menu_btn {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}
.menu_btn:focus {
  outline: none;
}

.menu_icon {
  width: 24px;
  height: 24px;
}

#header {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 576px) {
  #header {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #header {
    flex-direction: column;
  }
}

#header_image {
  flex-shrink: 0;
  background: #2563eb;
  width: 50vw;
  height: 450px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}
@media (max-width: 576px) {
  #header_image {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  #header_image {
    width: 100%;
    height: 250px;
  }
}

#header_text {
  display: grid;
}
#header_text p {
  text-align: center;
  font-size: 1.25rem;
  margin: 1rem;
}
#header_text .call_to_action {
  margin: 0 auto;
  font-size: 2rem;
}

.title_highlight {
  background: #2563eb;
  color: #f9fafb;
}

.project_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 768px) {
  .project_container {
    flex-direction: column;
  }
}

.projects_headers a {
  color: #1e40af;
  transition: color 150ms linear;
}
.projects_headers a:hover {
  color: #93c5fd;
}

.project_display {
  flex-shrink: 0;
  position: relative;
  width: 60vw;
  height: 70vh;
}
@media (max-width: 768px) {
  .project_display {
    width: 100%;
    height: 70vh;
  }
}
.project_display .project_desktop {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
@media (max-width: 576px) {
  .project_display .project_desktop {
    display: none;
  }
}
.project_display .project_mobile {
  position: absolute;
  width: 40%;
  height: 100%;
  right: -15px;
  top: 5%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
  .project_display .project_mobile {
    visibility: hidden;
  }
}
@media (max-width: 576px) {
  .project_display .project_mobile {
    width: 100%;
    visibility: visible;
    position: relative;
    top: 0;
    right: 0;
  }
}

.project_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.project_information button {
  width: 70%;
}

.phrase_container {
  background: #f9fafb;
  text-align: center;
  padding: 2rem;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.04);
  color: #bdbdbd;
}

#required {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 0;
  background: #2563eb;
  color: #f9fafb;
}
#required h2 {
  padding: 0 1rem;
  text-align: center;
}
@media (max-width: 576px) {
  #required h2 {
    font-size: 1.8rem;
  }
}

#cards {
  display: grid;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 250px);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-align: center;
}
.card p {
  color: #f9fafb;
}
@media (max-width: 576px) {
  .card {
    align-items: flex-start;
    text-align: left;
  }
}

.card_title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card_icon_container {
  display: grid;
  padding: 0.25rem;
  border-radius: 10px;
  border: 3px solid #cae3ff;
  background: #93c5fd;
}

.card_icon {
  width: 24px;
  height: 24px;
  color: #f9fafb;
}

#about {
  display: flex;
  justify-content: center;
}

.about_grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas: "about about basic" "about about basic" "frameworks backend hobbies" "frameworks backend .";
  justify-content: center;
  gap: 1rem;
}
.about_grid > * {
  border-radius: 20px;
}
.about_grid .about {
  grid-area: about;
  background: #2563eb;
}
.about_grid .basic {
  grid-area: basic;
  background: #93c5fd;
  transform: rotate(12deg) translateY(0px) translateX(10px);
}
.about_grid .frameworks {
  grid-area: frameworks;
  background: #1e40af;
  transform: rotate(-10deg) translateY(25px) translateX(-10px);
}
.about_grid .backend {
  grid-area: backend;
  background: #4f46e5;
  transform: rotate(7deg) translateY(10px) translateX(10px);
}
.about_grid .hobbies {
  grid-area: hobbies;
  background: #111827;
  transform: rotate(-10deg) translateY(50px) translateX(0px);
}
@media (max-width: 576px) {
  .about_grid {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
